.secondSection{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}
.secondSection .about{
    background-color: #6244c5;
    padding: 180px 0 120px;
    margin-bottom: 120px;
}
.secondSection .about .inner{
    width: 100%;
    height: auto;
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.secondSection .about .inner .left{
    width: 50%;
    padding-right: 50px;
    position: relative;
    top: 30px;
}

.secondSection .about .inner .left .second-title{
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
.secondSection .about .inner .left .second-title h3{
    color: #fff;
    letter-spacing: -2px;
    font-size: 56px;
    font-weight: 700;
}
.secondSection .about .inner .left a{
    text-decoration: none;
    color: hsla(0, 0%, 100%, 0.8);
    z-index: 99;
}
.secondSection .about .inner .left .text span{
    font-size: 18px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.8);
}
.secondSection .about .inner .left .text .bet{
    color: hsla(0, 0%, 100%);
    font-weight: 300;
    width: 83px;
    font-size: 18px;
    display: inline-block;
}
.secondSection .about .inner .left .text .bet1{
    letter-spacing: 1.5px;
}
.secondSection .about .inner .left .second-title h3 span{
    position: relative;
}
.secondSection .about .inner .left .second-title h3 span::before{
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    bottom: 0px;
    margin-left: 90px;
    left: 100%;
    background-color: #fff;
}
.secondSection .about .inner .left .text{
    width: 100%;
    float: left;
    margin-bottom: 50px;
    z-index: 999;
}
.secondSection .about .inner .left .text p{
    color: hsla(0, 0%, 100%, .7);
    font-weight: 300;
    line-height: 32px;
}
.secondSection .about .inner .left .bottom{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.secondSection .about .inner .left .box{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ffc448;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 85px;
    opacity: 0.1;
    z-index: 1;
}
.secondSection .about .inner .left .box .year{
    position: relative;
    margin-bottom: 0;
    margin-right: -30px;
    line-height: 1;
    margin-top: -95px;
    letter-spacing: -4px;
    font-weight: 800;
    font-size: 395px;
    color: #6244c5;
}
/* .secondSection .about .inner .left .box .year img{} */
.secondSection .about .inner .left .box .exper{
    font-size: 24px;
    padding-left: 120px;
    margin-top: 6px;
    display: inline-block;
}
.secondSection .about .inner .left .box .name{
    font-size: 60px;
    color: #6244c5;
    font-weight: 700;
    letter-spacing: -4px;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    bottom: -30px;
    left: -20px;
    width: 300%;
}
.secondSection .about .inner .right{
    width: 50%;
    position: relative;
    left: 70px;
}
.secondSection .about .inner .right .second-title{
    margin-bottom: 30px;
    width: 100%;
    float: left;
}
.secondSection .about .inner .right .second-title h3{
    color: #fff;
    letter-spacing: -2px;
    font-size: 56px;
    font-weight: 700;
}
.secondSection .about .inner .right .second-title h3 span{
    position: relative;
}
.secondSection .about .inner .right .second-title h3 span::before{
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    bottom: 0;
    margin-left: 90px;
    left: 100%;
    background-color: #fff;
}
.secondSection .about .inner .right .text{
    width: 100%;
    float: left;
    margin-bottom: 50px;
}
.secondSection .about .inner .right .text p{
    color: hsla(0, 0%, 100%, .7);
    font-weight: 300;
    line-height: 32px;
}
.secondSection .about .inner .right .bottom{
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}
.secondSection .about .inner .right .bottom .bottom-button{
    width: auto;
    float: left;
}
.secondSection .about .inner .right .bottom .bottom-button a{
    color: 12141d;
    background-color: #fff;
    font-weight: 700;
    border-radius: 16px;
    padding: 22px 40px 23px;
    display: inline-block;
    white-space: nowrap;
    word-wrap: break-word;
    transition: all .3s ease;
}
.secondSection .about .inner .right .bottom img{
    max-width: 200px;
    max-height: 80px;
    margin-left: 50px;
}