.swiperSection{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
}
.swiperSection .swiperinfo{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 40px 0 110px; 
}
.swiperSection .swiperinfo .container{
    max-width: 1250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0 40px;
    position: relative;
    clear: both 
}
.swiperSection .swiperinfo .container .swiper-list{
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    margin-top: 35px;
    position: relative;
}
.swiperSection .swiperinfo .container .swiper-list .swiper{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.swiperSection .swiperinfo .container .swiper-list .swiper .swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

  .swiper {
    width: 100%;
    height: 600px;
    margin-bottom: 30px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper .list_inner{
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }
  .swiper .list_inner .img img{
    width: 100%;
  }
  .swiper .list_inner .list-body .title{
    text-align: left;
    margin: 0 10px;
    padding: 0 5px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #ccc;
  }
  .swiper .list_inner .list-body .title::before{
    content: "💥 ";
  }
  .swiper .list_inner .list-body .list-title{
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    text-align: left;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
  }

  .swiper .list_inner .list-body p{
    text-align: left;
    margin-left: 20px;
  }
  .swiper .list_inner .list-body p span{
    display: inline-block;
    width: 100px;
  }